FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/workflow/v1/webhook/xxx
CHROME_BINARY_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
AMAZON_PROXY_SERVER=http://127.0.0.1:10808
AMAZON_ZIPCODE=10001
